#root {
  height: auto;
  min-height: 100vh;
  overflow: visible; /* hoặc bỏ overflow đi */
}

.progress-management {
  background-color: #ffffff;
  width: 100%;
}

.progress-management .div {
  background-color: #ffffff;
  width: 100%;
  /* height: 1024px; */
  min-height: 100vh;
  position: relative;
}

.progress-management .header {
  width: 1440px;
  height: 80px;
  background-color: #f5f5f5;
}

.progress-management .logo {
  width: 192px;
  height: 46px;
}

.progress-management .image {
  width: 60px;
  height: 46px;
  object-fit: cover;
}

.progress-management .family-farm {
  width: 122px;
  font-family: "Rajdhani-Bold", Helvetica;
  font-weight: 700;
  color: #1d3554;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.progress-management .search {
  width: 345px;
  height: 46px;
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  border: 0.5px solid;
  border-color: #d0d0d080;
}

.progress-management .material-symbols {
  width: 24px;
  height: 24px;
}

.progress-management .input {
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #00000080;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}

.progress-management .thong-bao {
  width: 44px;
  height: 44px;
}

.progress-management .overlap {
  position: relative;
  width: 46px;
  height: 44px;
}

.progress-management .iconamoon {
  width: 38px;
  height: 39px;
  border-radius: 50px;
  overflow: hidden;
}

.progress-management .group {
  width: 20px;
  height: 24px;
}

.progress-management .overlap-group-wrapper {
  width: 27px;
  height: 25px;
}

.progress-management .overlap-group {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: #3db3fb;
  border-radius: 14px;
  border: 1.5px solid;
  border-color: #f5f5f5;
}

.progress-management .text-wrapper {
  width: 8px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .chat {
  width: 44px;
  height: 43px;
}

.progress-management .overlap-2 {
  position: relative;
  height: 43px;
}

.progress-management .mdi-chat-outline {
  width: 38px;
  height: 38px;
}

.progress-management .group-wrapper {
  width: 25px;
  height: 25px;
}

.progress-management .div-wrapper {
  width: 27px;
  height: 25px;
}

.progress-management .text-wrapper-2 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .avatar {
  display: flex;
  width: 143px;
  height: 48px;
  align-items: center;
  gap: 8px;
  padding: 4px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid;
  border-color: #3db3fb;
}

.progress-management .ellipse {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.progress-management .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #1d3554;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-container{
}

.progress-management .overlap-wrapper {
  height: 280px;
}

.progress-management .overlap-3 {
  position: relative;
  height: 280px;
  background-color: var(--variable-collection-light-gray);
  border-radius: 10px;
}

.progress-management .text-wrapper-7 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--variable-collection-black-2);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .frame-3 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 10px 15px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px #00000040;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.progress-management .frame-3:hover {
  background-color: #D7D7D7;
}

.progress-management .img-2 {
  position: relative;
  width: 20px;
  height: 20px;
}

.progress-management .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--variable-collection-black-2);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .frame-4 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 10px 15px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px #00000040;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.progress-management .frame-4:hover {
  background-color: #D7D7D7;
}

.progress-management .frame-5 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 10px 15px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px #00000040;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.progress-management .frame-5:hover {
  background-color: #D7D7D7;
}

.filter-progress-container{
}

.progress-management .frame-6 {
}

.progress-management .frame-7 {
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #3db3fb;
  cursor: pointer;
}

.progress-management .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #3db3fb;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .frame-8 {
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.progress-management .text-wrapper-10 {
  margin-left: -1.50px;
  margin-right: -1.50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #000000;
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .frame-9 {
  display: flex;
  width: 110px;
  height: 36px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 10px;
  position: relative;
  background-color: #3db3fb;
  border-radius: 10px;
  cursor: pointer;
}

.progress-management .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .polygon {
  position: relative;
  width: 16px;
  height: 16px;
  color: #ffffff;
}

.progress-management .frame-10 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.progress-management .text-wrapper-12 {
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: var(--variable-collection-black-2);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  border: none;
  background: transparent;
  outline: none;
  width: 150px;
  height: 24px;
}

.progress-management .group-2 {
  width: 100%;
  height: 88px;
}

.progress-management .overlap-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  position: relative;
  width: 100%;
  height: 88px;
  background-color: var(--variable-collection-light-gray);
  border-radius: 10px;
}

.progress-management .frame-11 {
  cursor: pointer;
}

.progress-management .text-wrapper-13 {
  position: relative;
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #3db3fb;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .frame-12 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.progress-management .p {
  position: relative;
  margin-top: -1.00px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--variable-collection-black-2);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  text-align: start;
}

.progress-management .text-wrapper-14 {
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: var(--variable-collection-black-2);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .frame-13 {
  max-height: 30px;
  padding: 7px 10px;
  background-color: #3db3fb;
  border-radius: 10px;
}

.progress-management .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .group-3 {
  width: 100%;
  height: 88px;
}

.progress-management .frame-14 {
  background-color: var(--variable-collection-green);
  max-height: 30px;
  padding: 7px 10px;
  border-radius: 10px;
}

.progress-management .group-4 {
  width: 100%;
  height: 88px;
}

.progress-management .frame-15 {
  background-color: var(--variable-collection-red);
  padding: 7px 10px;
  border-radius: 10px;
}

.progress-management .group-5 {
  height: 24px;
}

.progress-management .frame-16 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.progress-management .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black-2);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .text-wrapper-17 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black-2);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .text-wrapper-18 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-black-2);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .frame-17 {
}

.progress-management .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.progress-management .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: var(--variable-collection-red);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.attention-container{}

.progress-management .frame-18 {
}

.create-container-title {
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: var(--variable-collection-black-2);
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.user-container {
    -webkit-box-shadow: 0px 0px 15px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 15px -6px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 15px -6px rgba(66, 68, 90, 1);
}

.user-name {
    font-family: "Roboto-Bold", Helvetica;
    color: var(--variable-collection-black-2);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.basic-info-section {
    -webkit-box-shadow: 0px 0px 15px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 15px -6px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 15px -6px rgba(66, 68, 90, 1);
}

.basic-title {
    font-family: "Roboto-Bold", Helvetica;
    color: var(--variable-collection-black-2);
    font-size: 18px;
    letter-spacing: 0;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}

.text-title-basic {
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 300;
    color: var(--variable-collection-black-2);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.text-title-basic:focus {
    color: #000000;
}

.text-description-basic {
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 300;
    color: var(--variable-collection-black-2);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: pre-wrap;
}

.text-description-basic:focus {
    color: #000000;
}

@media (min-width: 1024px) and (max-width: 1157px) {
  .progress-management .group-5 {
    min-width: 547px;
  }

  .progress-management .overlap-4 {
    gap: 10px;
  }
}