
:root{
    --blue: #3DB3FB;
    --black-2: #3E3F5E;
    --black: #3E3F5E;
    --light-black: rgba(0, 0, 0, 0.25);
}

.header-create{
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.10);
    color: var(--black-2);
    margin-bottom: 1rem;
}
.header-create .header-left-create{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: bold;
}
.header-create .header-left-create i{
    color: var(--blue);
}
.header-create .btn-close-create-post{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--black);
}
.header-create .btn-close-create-post:hover{
    color: var(--black-2);
}